.ui-kit-calendar-container .ui-kit-calendar-input {
  border: 1px solid #aec9de;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 40px;
  background: #fcfcff;
  cursor: pointer;
  text-align: center;
  font-size: 0;
  transition: all 300ms ease;
}

.ui-kit-calendar-container .ui-kit-calendar-input i {
  color: #505b71;
  font-size: 20px;
}

.ui-kit-calendar-container .ui-kit-calendar-input.opened {
  width: 170px;
  border: 1px solid #44c8f9;
  color: #44c8f9;
  background: rgba(68, 200, 249, 0.15);
  font-size: 12px;
}

.ui-kit-calendar-container .ui-kit-calendar-input.opened i {
  color: #44c8f9;
}

.ui-kit-calendar-container .ui-kit-calendar-input span {
  display: none;
}

.ui-kit-calendar-container .ui-kit-calendar-input span.opened {
  display: inline;
  margin-right: 10px;
}

.ui-kit-calendar-container .ui-kit-calendar-input {
  border: 1px solid #aec9de;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 40px;
  background: #fcfcff;
  cursor: pointer;
  text-align: center;
  font-size: 0;
  transition: all 300ms ease;
}

.ui-kit-calendar-container .ui-kit-calendar-input i {
  color: #505b71;
  font-size: 20px;
}

.ui-kit-calendar-container .ui-kit-calendar-input.opened {
  width: 180px;
  border: 1px solid #44c8f9;
  color: #44c8f9;
  background: rgba(68, 200, 249, 0.15);
  font-size: 12px;
}

.ui-kit-calendar-container .ui-kit-calendar-input.opened i {
  color: #44c8f9;
}

.ui-kit-calendar-container .ui-kit-calendar-input span {
  display: none;
}

.ui-kit-calendar-container .ui-kit-calendar-input span.opened {
  display: inline;
  margin-right: 10px;
}

.ui-kit-calendar-container.danger .ui-kit-calendar-input.opened {
  color: #e2747e;
  background: rgba(226, 116, 126, 0.15);
  border: 1px solid #e2747e;
}

.ui-kit-calendar-container.danger .ui-kit-calendar-input.opened i {
  color: #e2747e;
}

.ui-kit-calendar-container.warning .ui-kit-calendar-input.opened {
  color: #f4bf4d;
  background: rgba(244, 191, 77, 0.15);
  border: 1px solid #f4bf4d;
}

.ui-kit-calendar-container.warning .ui-kit-calendar-input.opened i {
  color: #f4bf4d;
}

.ui-kit-calendar-container.success .ui-kit-calendar-input.opened {
  color: #3fc59d;
  background: rgba(63, 197, 157, 0.15);
  border: 1px solid #3fc59d;
}

.ui-kit-calendar-container.success .ui-kit-calendar-input.opened i {
  color: #3fc59d;
}

.ui-kit-calendar-container.danger .ui-kit-calendar-input.hidden {
  display: none;
}

.ui-kit-calendar-container.success .ui-kit-calendar-input.hidden {
  display: none;
}

.ui-kit-calendar-container .ui-kit-calendar-input.hidden {
  display: none;
}

/*NEW UI :)*/

.hpicker-calendar {
  background: transparent;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  padding: 0;
  -webkit-animation: none;
  animation: none;
  direction: ltr;
  border: 0;
  font-size: 14px;
  line-height: 24px;
  border-radius: 5px;
  position: relative;
  width: 293.75px;
  box-sizing: border-box;
  -webkit-transition: top cubic-bezier(0, 1, 0.5, 1) 100ms;
  transition: top cubic-bezier(0, 1, 0.5, 1) 100ms;
  z-index: 99999999;
  background: #fff;
  box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, 0.08);
}

.hpicker-calendar.open,
.hpicker-calendar.inline {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  max-height: 640px;
  margin-top: 7px;
  position: absolute;
}

.hpicker-calendar.open {
  display: inline-block;
  -webkit-animation: hpickerFadeInDown 300ms cubic-bezier(0, 1, 0.5, 1);
  animation: hpickerFadeInDown 300ms cubic-bezier(0, 1, 0.5, 1);
}

.hpicker-calendar.inline {
  display: block;
  position: relative;
  top: 2px;
}

.hpicker-calendar.static {
  position: relative;
  top: 2px;
}

.hpicker-calendar.static.open {
  display: block;
}

.hpicker-calendar.hasWeeks {
  width: auto;
}

.hpicker-calendar.dateIsPicked.hasTime .hpicker-time {
  height: 40px;
  border-top: 1px solid #e6e6e6;
}

.hpicker-calendar.noCalendar.hasTime .hpicker-time {
  height: auto;
}

.hpicker-calendar:before,
.hpicker-calendar:after {
  position: absolute;
  display: block;
  pointer-events: none;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  right: 22px;
}

.hpicker-calendar.rightMost:before,
.hpicker-calendar.rightMost:after {
  left: auto;
  right: 22px;
}

.hpicker-calendar:before {
  border-width: 5px;
  margin: 0 -5px;
}

.hpicker-calendar:after {
  border-width: 4px;
  margin: 0 -4px;
}

.hpicker-calendar.arrowTop:before,
.hpicker-calendar.arrowTop:after {
  bottom: 100%;
}

.hpicker-calendar.arrowTop:before {
  border-bottom-color: #e6e6e6;
}

.hpicker-calendar.arrowTop:after {
  border-bottom-color: #fff;
}

.hpicker-calendar.arrowBottom:before,
.hpicker-calendar.arrowBottom:after {
  top: 100%;
}

.hpicker-calendar.arrowBottom:before {
  border-top-color: #e6e6e6;
}

.hpicker-calendar.arrowBottom:after {
  border-top-color: #fff;
}

.hpicker-month {
  background: transparent;
  color: rgba(0, 0, 0, 0.9);
  fill: rgba(0, 0, 0, 0.9);
  height: 28px;
  line-height: 24px;
  text-align: center;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hpicker-prev-month,
.hpicker-next-month {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  height: 16px;
  line-height: 16px;
}

.hpicker-prev-month i,
.hpicker-next-month i {
  position: relative;
}

.hpicker-prev-month.hpicker-prev-month,
.hpicker-next-month.hpicker-prev-month {
  left: calc(3.57% - 1.5px);
}

.hpicker-prev-month.hpicker-next-month,
.hpicker-next-month.hpicker-next-month {
  right: calc(3.57% - 1.5px);
}

.hpicker-prev-month:hover,
.hpicker-next-month:hover {
  color: #959ea9;
}

.hpicker-prev-month:hover svg,
.hpicker-next-month:hover svg {
  fill: #f64747;
}

.hpicker-prev-month svg,
.hpicker-next-month svg {
  width: 14px;
}

.hpicker-prev-month svg path,
.hpicker-next-month svg path {
  -webkit-transition: fill 0.1s;
  transition: fill 0.1s;
  fill: inherit;
}

.numInputWrapper {
  position: relative;
  height: auto;
}

.numInputWrapper input,
.numInputWrapper span {
  display: inline-block;
}

.numInputWrapper input {
  width: 100%;
}

.numInputWrapper span {
  position: absolute;
  right: 0;
  width: 14px;
  padding: 0 4px 0 2px;
  height: 50%;
  line-height: 50%;
  opacity: 0;
  cursor: pointer;
  border: 1px solid rgba(57, 57, 57, 0.05);
  box-sizing: border-box;
}

.numInputWrapper span:hover {
  background: rgba(0, 0, 0, 0.1);
}

.numInputWrapper span:active {
  background: rgba(0, 0, 0, 0.2);
}

.numInputWrapper span:after {
  display: block;
  content: "";
  position: absolute;
  top: 33%;
}

.numInputWrapper span.arrowUp {
  top: 0;
  border-bottom: 0;
}

.numInputWrapper span.arrowUp:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgba(57, 57, 57, 0.6);
}

.numInputWrapper span.arrowDown {
  top: 50%;
}

.numInputWrapper span.arrowDown:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(57, 57, 57, 0.6);
}

.numInputWrapper span svg {
  width: inherit;
  height: auto;
}

.numInputWrapper span svg path {
  fill: rgba(0, 0, 0, 0.5);
}

.numInputWrapper:hover {
  background: rgba(0, 0, 0, 0.05);
}

.numInputWrapper:hover span {
  opacity: 1;
}

.hpicker-current-month {
  font-size: 135%;
  line-height: inherit;
  font-weight: 300;
  color: inherit;
  position: absolute;
  width: 75%;
  left: 12.5%;
  top: 5px;
  display: inline-block;
  text-align: center;
}

.hpicker-current-month span.cur-month {
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  padding-left: 7px;
}

.hpicker-current-month .numInputWrapper {
  width: 6ch;
  width: 7ch \0;
  display: inline-block;
}

.hpicker-current-month .numInputWrapper span.arrowUp:after {
  border-bottom-color: rgba(0, 0, 0, 0.9);
}

.hpicker-current-month .numInputWrapper span.arrowDown:after {
  border-top-color: rgba(0, 0, 0, 0.9);
}

.hpicker-current-month input.cur-year {
  background: transparent;
  box-sizing: border-box;
  color: inherit;
  cursor: default;
  padding: 0 0 0 0.5ch;
  margin: 0;
  display: inline;
  font-size: inherit;
  font-family: inherit;
  font-weight: 300;
  line-height: inherit;
  height: initial;
  border: 0;
  border-radius: 0;
  vertical-align: initial;
}

.hpicker-current-month input.cur-year:focus {
  outline: 0;
}

.hpicker-current-month input.cur-year[disabled],
.hpicker-current-month input.cur-year[disabled]:hover {
  font-size: 100%;
  color: rgba(0, 0, 0, 0.5);
  background: transparent;
  pointer-events: none;
}

.hpicker-weekdays {
  background: transparent;
  text-align: center;
  overflow: hidden;
}

.hpicker-days,
.hpicker-weeks {
  padding: 1px 0 0 0;
}

.hpicker-days {
  padding: 0 2.375px;
  outline: 0;
  text-align: left;
  width: 293.75px;
  box-sizing: border-box;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.hpicker-days.rtl {
  direction: rtl;
}

.hpicker-day {
  background: none;
  border: 1px solid transparent;
  border-radius: 150px;
  box-sizing: border-box;
  color: #393939;
  cursor: pointer;
  font-weight: 400;
  width: 14.2857143%;
  -ms-flex-preferred-size: 14.2857143%;
  flex-basis: 14.2857143%;
  max-width: 38px;
  height: 38px;
  line-height: 38px;
  margin: 0;
  display: inline-block;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.hpicker-day.inRange,
.hpicker-day.prevMonthDay.inRange,
.hpicker-day.nextMonthDay.inRange,
.hpicker-day.today.inRange,
.hpicker-day.prevMonthDay.today.inRange,
.hpicker-day.nextMonthDay.today.inRange,
.hpicker-day:hover,
.hpicker-day.prevMonthDay:hover,
.hpicker-day.nextMonthDay:hover,
.hpicker-day:focus,
.hpicker-day.prevMonthDay:focus,
.hpicker-day.nextMonthDay:focus {
  cursor: pointer;
  outline: 0;
  background: #e6e6e6;
  border-color: #e6e6e6;
}

.hpicker-day.today {
  border-color: #959ea9;
}

.hpicker-day.today:hover,
.hpicker-day.today:focus {
  border-color: #959ea9;
  background: #959ea9;
  color: #fff;
}

.hpicker-day.selected,
.hpicker-day.startRange,
.hpicker-day.endRange,
.hpicker-day.selected:focus,
.hpicker-day.startRange:focus,
.hpicker-day.endRange:focus,
.hpicker-day.selected:hover,
.hpicker-day.startRange:hover,
.hpicker-day.endRange:hover,
.hpicker-day.selected.prevMonthDay,
.hpicker-day.startRange.prevMonthDay,
.hpicker-day.endRange.prevMonthDay,
.hpicker-day.selected.nextMonthDay,
.hpicker-day.startRange.nextMonthDay,
.hpicker-day.endRange.nextMonthDay {
  background: #569ff7;
  color: #fff;
  border-color: #569ff7;
}

.hpicker-day.selected.startRange,
.hpicker-day.startRange.startRange,
.hpicker-day.endRange.startRange {
  border-radius: 50px 0 0 50px;
}

.hpicker-day.selected.endRange,
.hpicker-day.startRange.endRange,
.hpicker-day.endRange.endRange {
  border-radius: 0 50px 50px 0;
}

.hpicker-day.inRange {
  border-radius: 0;
  box-shadow: -3.75px 0 0 #e6e6e6, 3.75px 0 0 #e6e6e6;
}

.hpicker-day.disabled,
.hpicker-day.disabled:hover {
  pointer-events: none;
}

.hpicker-day.disabled,
.hpicker-day.disabled:hover,
.hpicker-day.prevMonthDay,
.hpicker-day.nextMonthDay,
.hpicker-day.notAllowed,
.hpicker-day.notAllowed.prevMonthDay,
.hpicker-day.notAllowed.nextMonthDay {
  color: rgba(57, 57, 57, 0.3);
  background: transparent;
  border-color: transparent;
  cursor: default;
}

span.hpicker-weekday {
  cursor: default;
  font-size: 90%;
  color: rgba(0, 0, 0, 0.54);
  height: 27.166666666666668px;
  line-height: 24px;
  margin: 0;
  background: transparent;
  text-align: center;
  display: block;
  float: left;
  width: 14.28%;
  font-weight: bold;
  margin: 0;
  padding-top: 3.166666666666667px;
}

span.hpicker-weekday.rtl {
  float: right;
}

.rangeMode .hpicker-day {
  margin-top: 1px;
}

.hpicker-weekwrapper {
  display: inline-block;
  float: left;
}

.hpicker-weekwrapper .hpicker-weeks {
  padding: 1px 12px 0 12px;
  box-shadow: 1px 0 0 #e6e6e6;
}

.hpicker-weekwrapper .hpicker-weekday {
  float: none;
  width: 100%;
}

.hpicker-weekwrapper span.hpicker-day {
  display: block;
  width: 100%;
  max-width: none;
}

.hpicker-innerContainer {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
}

.hpicker-rContainer {
  display: inline-block;
  padding: 0;
  box-sizing: border-box;
}

.hpicker-time {
  text-align: center;
  outline: 0;
  display: block;
  height: 0;
  line-height: 40px;
  max-height: 40px;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: height 0.33s cubic-bezier(0, 1, 0.5, 1);
  transition: height 0.33s cubic-bezier(0, 1, 0.5, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hpicker-time:after {
  content: "";
  display: table;
  clear: both;
}

.hpicker-time .numInputWrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1 1 0%;
  width: 40%;
  height: 40px;
  float: left;
}

.hpicker-time .numInputWrapper span.arrowUp:after {
  border-bottom-color: #393939;
}

.hpicker-time .numInputWrapper span.arrowDown:after {
  border-top-color: #393939;
}

.hpicker-time.hasSeconds .numInputWrapper {
  width: 26%;
}

.hpicker-time.time24hr .numInputWrapper {
  width: 49%;
}

.hpicker-time input {
  background: transparent;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  text-align: center;
  margin: 0;
  padding: 0;
  height: inherit;
  line-height: inherit;
  cursor: pointer;
  color: #393939;
  font-size: 14px;
  position: relative;
  box-sizing: border-box;
}

.hpicker-time input.hpicker-hour {
  font-weight: bold;
}

.hpicker-time input.hpicker-minute,
.hpicker-time input.hpicker-second {
  font-weight: 400;
}

.hpicker-time input:focus {
  outline: 0;
  border: 0;
}

.hpicker-time .hpicker-time-separator,
.hpicker-time .hpicker-am-pm {
  height: inherit;
  display: inline-block;
  float: left;
  line-height: inherit;
  color: #393939;
  font-weight: bold;
  width: 2%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hpicker-time .hpicker-am-pm {
  outline: 0;
  width: 18%;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
}

.hpicker-time .hpicker-am-pm:hover,
.hpicker-time .hpicker-am-pm:focus {
  background: #f0f0f0;
}

.hasWeeks .hpicker-days,
.hasTime .hpicker-days {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.hasWeeks .hpicker-days {
  border-left: 0;
}

@media all and (-ms-high-contrast: none) {
  .hpicker-month {
    padding: 0;
  }

  .hpicker-month svg {
    top: 0 !important;
  }
}

@-webkit-keyframes hpickerFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes hpickerFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.hpicker-calendar.open.not-raneg {
  position: absolute;
  /*right: 235px;*/
}

.aro-btn {
  border: 1px solid #aec9de;
  border-radius: 10px;
  height: 30px;
  background: #fcfcff;
  cursor: pointer;
  text-align: center;
  font-family: inherit;
}

.aro-btn:hover {
  background: #505b71;
  color: #e6e6e6;
}